---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from "../components/Model3.astro";
import ModelY from "../components/ModelY.astro";
import Model3 from "../components/Model3.astro";
---

<Layout title="Tesla">
	
		<LandingHeader />

		<main
			class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
		>
			
			<div class="snap-center">
				<HeroSection/>
			
			</div>
			

			<div class="snap-center">
				<Model3/>
			
			</div>

			<div class="snap-center">
				<ModelY/>
			
			</div>
		
	</main>
</Layout>
