<section class="bd-black h-screen relative text-center overflow-hidden"
data-header-color="white"
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-[25px] font-medium">
                Model 3 
            </h2>
            <p class="text-white text-sm">Lease starting at $329/mo*</p>
        </header>

        <footer class="pb-24 text-[10px] flex flex-col flex-grow justify-end">
            <div class="flex flex-row justify-center">
                <a
                    class="border-[3px] border-white rounded font-medium font-bold text-black mx-3 px-10 py-2 inline-block bg-white   "
                    href="#"
                >
                    Explore inventory</a
                >

                <a
                    class="rounded font-medium font-bold text-white mx-5 px-10 py-2 inline-block justify-center bg-slate-700 "
                    href="#"
                >
                    Demo Drive</a
                >
            </div>
            
           </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img
            class="object-center object-cover w-full h-full"
            src="public/model3.avif"           
            alt="Model 3"
            >
    </img>

    </div>
</section>
