<section class="landing-section bd-black h-screen relative text-center overflow-hidden"
        data-header-color="white"
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-[25px] font-medium">
                Disfrute de tesla
            </h2>
            <p class="text-white text-sm">Programe una prueba de conducción</p>
        </header>

        <footer class="pb-24 text-[10px] flex flex-grow flex-col justify-end">
            <div>
                <a
                    class="border-[3px] border-white rounded font-medium text-white px-10 py-2 inline-block bg-white/5 backdrop-blur-x hover:bg-white hover:text-black transition-colors"
                    href="#"
                >
                    Prueba de conducción</a
                >
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video
            class="object-center object-cover w-full h-full"
            autoplay
            muted
            loop
            src="/video.webm">

        </video>
    </div>
</section>
